@using ReHouse.Utils
@using ReHouse.FrontEnd.Helpers
@using ReHouse.FrontEnd.Models
@using ReHouse.Utils.Helpers
@model ReHouse.FrontEnd.Models.LoadAdvertsForHomePageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = SessionHelpers.Session("user", typeof(SessionModel)) as SessionModel;
    var role = "";
    if (user != null)
    {
        role = user.Role.RussianName;
    }
}

@section scripts {

    @Scripts.Render("~/bundles/jcarousel")
    @Scripts.Render("~/bundles/showDetails")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.d-carousel .carousel').jcarousel({
                scroll: 1,
            });
        });
    </script>
}
<div class="container" id="container">
    <div class="slider-of-products">
        <div class="d-carousel" id="p">
            <h2><span>Горячие</span> предложения</h2>
            @Html.Partial("Advert/_listOfAdvertsCarousel", Model.HotAdverts)
            <a href="/sale/flat/" class="moremore" id="more">Смотреть больше</a>
        </div>


        <div class="d-carousel" id="p">
            <h2><span>Квартиры</span> в Новостроях</h2>
            @Html.Partial("NewB/_listOfNewBuildingsCarousel", Model.NewBuildingAdverts)
            <a href="/newbuilding/" id="more">Смотреть больше</a>
        </div>


        <div class="d-carousel" id="p">
            <h2><span>Продажа</span> квартир</h2>
            @Html.Partial("Advert/_listOfAdvertsCarousel", Model.FlatSaleAdverts)
            <a href="/sale/flat/" id="more">Смотреть больше</a>
        </div>


        <div class="d-carousel" id="p">
            <h2><span>Продажа</span> домов и участков</h2>
            @Html.Partial("Advert/_listOfAdvertsCarousel", Model.HouseSaleAdverts)
            <a href="/sale/house/" id="more">Смотреть больше</a>
        </div>

        <div class="d-carousel" id="p">
            <h2><span>Коммерческая</span> недвижимость</h2>
            @Html.Partial("Advert/_listOfAdvertsCarousel", Model.CommerceSaleAdverts)
            <a href="/sale/commerce/" id="more">Смотреть больше</a>
        </div>
    </div>
</div>