@using ReHouse.Utils
@using ReHouse.FrontEnd.Helpers
@using ReHouse.FrontEnd.Models
@using ReHouse.Utils.Helpers
@model ReHouse.FrontEnd.Models.LoadAdvertsForHomePageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = SessionHelpers.Session("user", typeof(SessionModel)) as SessionModel;
    var role = "";
    if (user != null)
    {
        role = user.Role.RussianName;
    }
}

@section scripts {

    @Scripts.Render("~/bundles/jcarousel")
    @Scripts.Render("~/bundles/showDetails")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.d-carousel .carousel').jcarousel({
                scroll: 1,
            });
        });
    </script>
}
<div class="slider-of-products">
    <div class="d-carousel" id="p">
        <h2><span>Горячие</span> предложения</h2>
        <div class="streak"></div>
        <ul class="carousel">
            @foreach (var item in Model.NewBuildingAdverts)
            {
                <li>
                    <a href="">

                        <h3>Продам дом</h3>
                        <h4><img src="~/Content/images/pin.png" height="13" alt="" />@item.Adress</h4>
                        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                        <img src="~/Content/images/prod1.jpg" width="390" height="200" alt="" />
                        <div class="meters">
                            <div><img src="~/Content/images/m2.png" height="32" alt="" /><p>350м²</p></div>
                            <div><img src="~/Content/images/m21.png" height="32" alt="" /><p>150м²</p></div>
                        </div>
                        <div class="bottom">
                            <div><p class="cost">150000 $</p></div>
                            <div class="share"><img src="~/Content/images/share.png" height="32" alt="" /></div>
                            <div class="like" onclick="addtocart(@item.Id, '@AdvertsType.NewBuilding', true, this);"><img src="~/Content/images/star.png" height="32" alt="" /></div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <a href="/sale/flat/" class="moremore" id="more">Смотреть больше</a>
    </div>
 

    <div class="d-carousel" id="p">
        <h2><span>Квартиры</span> в Новостроях</h2>
        <div class="streak"></div>
        <ul class="carousel">
            @foreach (var item in Model.NewBuildingAdverts)
            {
                <li>
                    <a href="">

                        <h3>Продам дом</h3>
                        <h4><img src="~/Content/images/pin.png" height="13" alt="" />@item.Adress</h4>
                        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                        <img src="~/Content/images/prod1.jpg" width="390" height="200" alt="" />
                        <div class="meters">
                            <div><img src="~/Content/images/m2.png" height="32" alt="" /><p>350м²</p></div>
                            <div><img src="~/Content/images/m21.png" height="32" alt="" /><p>150м²</p></div>
                        </div>
                        <div class="bottom">
                            <div><p class="cost">150000 $</p></div>
                            <div class="share"><img src="~/Content/images/share.png" height="32" alt="" /></div>
                            <div class="like" onclick="addtocart(@item.Id, '@AdvertsType.NewBuilding', true, this);"><img src="~/Content/images/star.png" height="32" alt="" /></div>
                        </div>
                    </a>
                </li>
            }
        </ul>
            <a href="/newbuilding/" id="more">Смотреть больше</a>
        </div>
    

    <div class="d-carousel" id="p">
        <h2><span>Продажа</span> квартир</h2>
        <div class="streak"></div>
        <ul class="carousel">
            @foreach (var item in Model.NewBuildingAdverts)
            {
                <li>
                    <a href="">

                        <h3>Продам дом</h3>
                        <h4><img src="~/Content/images/pin.png" height="13" alt="" />@item.Adress</h4>
                        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                        <img src="~/Content/images/prod1.jpg" width="390" height="200" alt="" />
                        <div class="meters">
                            <div><img src="~/Content/images/m2.png" height="32" alt="" /><p>350м²</p></div>
                            <div><img src="~/Content/images/m21.png" height="32" alt="" /><p>150м²</p></div>
                        </div>
                        <div class="bottom">
                            <div><p class="cost">150000 $</p></div>
                            <div class="share"><img src="~/Content/images/share.png" height="32" alt="" /></div>
                            <div class="like" onclick="addtocart(@item.Id, '@AdvertsType.NewBuilding', true, this);"><img src="~/Content/images/star.png" height="32" alt="" /></div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <a href="/sale/flat/" id="more">Смотреть больше</a>
    </div>
  

    <div class="d-carousel" id="p">
        <h2><span>Продажа</span> домов и участков</h2>
        <div class="streak"></div>
        <ul class="carousel">
            @foreach (var item in Model.NewBuildingAdverts)
            {
                <li>
                    <a href="">

                        <h3>Продам дом</h3>
                        <h4><img src="~/Content/images/pin.png" height="13" alt="" />@item.Adress</h4>
                        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                        <img src="~/Content/images/prod1.jpg" width="390" height="200" alt="" />
                        <div class="meters">
                            <div><img src="~/Content/images/m2.png" height="32" alt="" /><p>350м²</p></div>
                            <div><img src="~/Content/images/m21.png" height="32" alt="" /><p>150м²</p></div>
                        </div>
                        <div class="bottom">
                            <div><p class="cost">150000 $</p></div>
                            <div class="share"><img src="~/Content/images/share.png" height="32" alt="" /></div>
                            <div class="like" onclick="addtocart(@item.Id, '@AdvertsType.NewBuilding', true, this);"><img src="~/Content/images/star.png" height="32" alt="" /></div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <a href="/sale/house/" id="more">Смотреть больше</a>
    </div>
    
    <div class="d-carousel" id="p">
        <h2><span>Коммерческая</span> недвижимость</h2>
        <div class="streak"></div>
        <ul class="carousel">
            @foreach (var item in Model.NewBuildingAdverts)
            {
                <li>
                    <a href="">

                        <h3>Продам дом</h3>
                        <h4><img src="~/Content/images/pin.png" height="13" alt="" />@item.Adress</h4>
                        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                        <img src="~/Content/images/prod1.jpg" width="390" height="200" alt="" />
                        <div class="meters">
                            <div><img src="~/Content/images/m2.png" height="32" alt="" /><p>350м²</p></div>
                            <div><img src="~/Content/images/m21.png" height="32" alt="" /><p>150м²</p></div>
                        </div>
                        <div class="bottom">
                            <div><p class="cost">150000 $</p></div>
                            <div class="share"><img src="~/Content/images/share.png" height="32" alt="" /></div>
                            <div class="like" onclick="addtocart(@item.Id, '@AdvertsType.NewBuilding', true, this);"><img src="~/Content/images/star.png" height="32" alt="" /></div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <a href="/sale/flat/" id="more">Смотреть больше</a>
    </div>

</div>





<div id="testimonials">
    <div class="container">
        <div class="block-one-example">

            <div id="customNav" class="owl-my-nav"></div>
            <div class="owl-carousel block-items">
                <div class="item">
                    <div class="inner-testimonial">
                        <img src="~/Content/images/client1.png" class="full-opacity" alt="Клиент 1">
                        <h3 class="city-name">Иван, Москва</h3>
                        <p class="text-testimonial">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот последний на берегу послушавшись, подзаголовок! Грамматики живет власти текст дорогу.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="inner-testimonial">
                        <img src="~/Content/images/client2.png" class="full-opacity" alt="Клиент 2">
                        <h3 class="city-name">Светлана, Екатеринбург</h3>
                        <p class="text-testimonial">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот последний на берегу послушавшись, подзаголовок! Грамматики живет власти текст дорогу.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="inner-testimonial">
                        <img src="~/Content/images/client3.png" class="full-opacity" alt="Клиент 3">
                        <h3 class="city-name">Александр, Ярославль</h3>
                        <p class="text-testimonial">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот последний на берегу послушавшись, подзаголовок! Грамматики живет власти текст дорогу.</p>
                    </div>
                </div>
            </div>
        </div><!-- .block-one-example -->
    </div>
</div>
