@using ReHouse.Utils.DataBase.AdvertParams
@model Builder
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script>
        var counter = parseInt($('#counter').val());
        function addPhone() {
            $('#phonebtn').before('<tr><td>Телефон:</td><td><input type="text" name="Phones[' + counter + '].Telephone" /></td></tr>');
            counter += 1;
        }
    </script>
}
@Html.Partial("_navigation", "builders")

<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>

    <div class="photo_of_manager">
        <form enctype="multipart/form-data" action="" method="POST">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationSummary()
            <div class="contact_info">
                <table>

                    <tr>
                        <td>Заголовок:</td>
                        <td>@Html.TextBoxFor(m => m.Name)</td>
                    </tr>

                    <tr>
                        <td>Ссылка на сайт:</td>
                        <td>@Html.TextBoxFor(m => m.Url)</td>
                    </tr>
                    @if (Model != null && Model.Phones != null && Model.Phones.Count > 0)
                    {
                        for (var i = 0; i < Model.Phones.Count; i++)
                        {
                            <tr>
                                <td>Телефон:</td>
                                <td>
                                    <input type="hidden" value="@Model.Phones[i].Id" name="Phones[@i].Id" />
                                    <input type="text" value="@Model.Phones[i].TelePhone" name="Phones[@i].Telephone" />
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>Телефон:</td>
                            <td>
                                <input type="hidden" id="counter" name="counter" value="@(Model.Phones.Count+1)" />
                                <input type="text" name="Phones[@Model.Phones.Count].Telephone" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Телефон:</td>
                            <td>
                                <input type="hidden" id="counter" name="counter" value="1" />
                                <input type="text" name="Phones[0].Telephone" />
                            </td>
                        </tr>
                    }

                    <tr id="phonebtn">
                        <td></td>
                        <td><a onclick="addPhone();">Добавить еще телефон</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Сохранить</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
