@using ReHouse.Utils.Helpers
@using System.Globalization;
@model ReHouse.FrontEnd.Models.LoadAdvertModel
@*@Styles.Render("~/bundles/fancybox");*@

@section scripts {
    @Scripts.Render("~/bundles/slides");
    <script>
        //$(function () {
        //    $('#products').slides({
        //        preload: true,
        //        preloadImage: '',
        //        effect: 'slide, fade',
        //        crossfade: true,
        //        slideSpeed: 200,
        //        fadeSpeed: 500,
        //        generateNextPrev: true,
        //        generatePagination: false
        //    });
        //});

        $(document).ready(function ($) {
            $('#products').sliderPro({
                width: 960,
                height: 500,
                fade: true,
                arrows: true,
                buttons: false,
                fullScreen: true,
                shuffle: false,
                smallSize: 500,
                mediumSize: 1000,
                largeSize: 3000,
                thumbnailArrows: true,
                autoplay: false
            });
        });
    </script>
    <!--  FancyBox -->
    @*@Scripts.Render("~/bundles/fancybox");
        <script>
            $(document).ready(function () {
                $("a.plan").fancybox();
                // $("a.plan").fancybox({"frameWidth":1560,"frameHeight":1340});
            });
        </script>*@
}
<span class="noprint">
    <span class="none">

        </div>
        <div class="navigation_string">
            <div class="container">
                <div class="way">
                    <a href="/">Главная</a>
                    <pre> </pre>
                    <a>/</a>
                    <pre> </pre>

                    @{ string action = "", desc = "", pricePerSquere = ""; }

                    @switch (Model.Advert.Category.ParentId)
            {
                case (int)ParrentCategories.Flat:
                    desc = "Снять квартиру";
                    action = "flat";
                    break;
                case (int)ParrentCategories.House:
                    desc = "Снять дом";
                    action = "house";
                    break;
                case (int)ParrentCategories.Homestead:
                    desc = "Снять участок";
                    action = "homestead";
                    break;
                case (int)ParrentCategories.Commerce:
                    desc = "Снять коммерцию";
                    action = "commerce";
                    break;
            }

                    <a href="/rent/@action/">@desc</a>
                    <pre> </pre>
                    <a>/</a>
                    <pre> </pre>
                    <a href="/rent/@action/@Model.Advert.Category.Id">@Model.Advert.Category.RussianName</a>
                </div>
            </div>
        </div>
        <div class="container">
    </span>


    <span class="noprint">

        <div class="wrapper-prod">

            <div class="left">
                <div id="products_example">
                    <div id="products">
                        <div class="sp-slides">
                            @if (Model.NewBuilding.Images != null && Model.NewBuilding.Images.Count > 0)
                            {
                                foreach (var item in Model.NewBuilding.Images)
                                {
                                    <div class="sp-slide">
                                        <img class="sp-image" src="@Url.Content(item.Url + item.FileName)?w=600&h=312&mode=max"
                                             data-src="@Url.Content(item.Url + item.FileName)?w=1500&h=1500&mode=max" />
                                    </div>
                                }
                            }
                            @if (Model.NewBuilding.PlanImages != null && Model.NewBuilding.PlanImages.Count > 0)
                            {
                                foreach (var item in Model.NewBuilding.PlanImages)
                                {
                                    <div class="sp-slide">
                                        <img class="sp-image" src="@Url.Content(item.Url + item.FileName)?w=600&h=312&mode=max"
                                             data-src="@Url.Content(item.Url + item.FileName)?w=1500&h=1500&mode=max" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="sp-thumbnails">
                            @if (Model.Advert.Images != null && Model.Advert.Images.Count > 0)
                            {
                                foreach (var item in Model.Advert.Images)
                                {
                                    <img class="sp-thumbnail" src="@Url.Content(item.Url + item.FileName)?w=150&h=150&mode=max" />
                                }
                            }
                            @if (Model.Advert.PlanImages != null && Model.Advert.PlanImages.Count > 0)
                            {
                                foreach (var item in Model.Advert.PlanImages)
                                {
                                    <img class="sp-thumbnail" src="@Url.Content(item.Url + item.FileName)?w=150&h=150&mode=max" />
                                }
                            }
                        </div>
                    </div>
                </div>
    </span>

    @if (!String.IsNullOrEmpty(Model.Advert.YouTubeUrl))
    {
        <a class="videoyoutube" href="https://www.youtube.com/watch?v=@Model.Advert.YouTubeUrl">Посмотреть видео</a>
    }
    </div>

    <div class="right">
        @if (Model.Advert.IsExclusive)
        {
            <div class="redimg"><img src="~/Content/images/eksklusiv.jpg"></div>
        }
        else if (Model.Advert.IsHot)
        {
            <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        }
        else if (Model.Advert.IsNew)
        {
            <div class="redimg"><img src="~/Content/images/newred.png"></div>
        }
        <div class="seotext3">
            <!-- <div class="print">
                 <a href='javascript:window.print(); void 0;'>
                     <img src="~/Content/images/pechat.png" />
                 </a>
             </div>-->
            <div class="share_icons">
                <div class="advert_id">
                    <h2>№@Model.Advert.Id</h2>
                </div>
                <div class="share_fb">
                    <a onclick="Share.facebook(event, 'http://rehouse-realty.com.ua/rent/detail/@(Model.Advert.Id)', 'Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street', 'http://rehouse-realty.com.ua@(Url.Content(Model.Advert.Images?.FirstOrDefault() != null ? Model.Advert.Images.FirstOrDefault().Url + Model.Advert.Images.FirstOrDefault().FileName : "~/Content/images/news1.jpg"))', '@(Model.Advert.Description?.Replace(Environment.NewLine, " "))')"></a>
                </div>
                <div class="share_vk">
                    <a onclick="Share.vkontakte(event, 'http://rehouse-realty.com.ua/rent/detail/@(Model.Advert.Id)', 'Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street', 'http://rehouse-realty.com.ua@(Url.Content(Model.Advert.Images?.FirstOrDefault() != null ? Model.Advert.Images.FirstOrDefault().Url + Model.Advert.Images.FirstOrDefault().FileName : "~/Content/images/news1.jpg"))', '@(Model.Advert.Description?.Replace(Environment.NewLine, " "))')"></a>
                </div>
                <div class="share_tw">
                    <a onclick="Share.twitter(event, 'http://rehouse-realty.com.ua/rent/detail/@(Model.Advert.Id)', 'Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street')"></a>
                </div>                
            </div>

            <div class="h2sale"><h2>Сдам @Model.Advert.Title.RussianName</h2></div>
            <h4><img src="/Content/images/pin.png" height="13" alt="">@Model.Advert.Street</h4>
            <div class="h3cost">
                @if (Model.Advert.RentPeriodType == RentPeriodType.Daily)
                {
                    <p class="grn">@Model.Advert.Price.ToString("# ### ##0")грн/сутки</p>
                }
                else
                {
                    <p class="grn">@Model.Advert.Price.ToString("# ### ##0")$/мес</p>
                }
                @*<pre> </pre>
                <p class="dot">/</p>

                @if (ViewBag.USD != 0)
                    {
                        <pre> </pre>
                        <p class="DolUSA">@ViewBag.USD $/мес</p>
                        <pre></pre>
                    }
                    @if (ViewBag.EUR != 0)
                    {
                        <p class="dot">·</p>
                        <pre> </pre>
                        <p class="grn">@ViewBag.EUR €/мес</p>
                        <pre></pre>
                        <p class="dot">·</p>
                    }
                <pre> </pre>
                <p class="square_meter">@pricePerSquere</p>*@
            </div>
            <div class="meters">
                <div><img src="/Content/images/m2.png" height="32" alt=""><p>@(Model.Advert.AdvertPropertyValues.Any(x => x.AdvertPropertyId == 3)? Model.Advert.AdvertPropertyValues.FirstOrDefault(x => x.AdvertPropertyId == 3).PropertiesValue : "0") м²</p></div>
                <div><img src="/Content/images/m21.png" height="32" alt=""><p>@(Model.Advert.AdvertPropertyValues.Any(x => x.AdvertPropertyId == 7) ? Model.Advert.AdvertPropertyValues.FirstOrDefault(x => x.AdvertPropertyId == 7).PropertiesValue : "0") м²</p></div>
            </div>
            <p class="text">@Html.Raw(Model.Advert.Description)</p>
        </div>
        <div class="table_of_prodapart">
            <table>
                <tr>
                    <td>Тип рынка: </td>
                    <td>@Model.Advert.MarketType.RussianName</td>
                </tr>
                <tr>
                    <td>Период сдачи: </td>
                    @if (Model.Advert.RentPeriodType == RentPeriodType.Daily)
                    {
                        <td>Посуточно</td>
                    }
                    else
                    {
                        <td>Помесячно</td>
                    }
                </tr>
                @*@if (Model.Advert.Category.ParentId != (int)ParrentCategories.Homestead)
                {
                    <tr>
                        <td>Состояние: </td>
                        <td>@Model.Advert.TrimCondition.RussianName</td>
                    </tr>
                }*@
                <tr>
                    <td>Адрес: </td>
                    <td>@Model.Advert.Street</td>
                </tr>
                @foreach (var prop in Model.Properties)
                {
                    <tr>
                        <td>@prop.Key.RussianName: </td>
                        <td>@prop.Value.PropertiesValue</td>
                    </tr>
                }

            </table>
        </div>


        <div class="fav-wrap">
            <div class="favorite">
                <a onclick="addtocart(@Model.Advert.Id, '@Model.Advert.Type', true, this, event);" id="favorite">Добавить в избранное</a>
                <a onclick="addtocart(@Model.Advert.Id, '@Model.Advert.Type', true, this, event);" id="fav2"></a>
            </div>
            <div class="favorite1">
                <a href="/email/index?flat=@(Model.Advert.Id)&type=@((int)AdvertsType.Rent)" id="favorite"><span>+</span> Подать заявку</a>
            </div>
        </div>
    </div>

    </div>

    <div class="map_managercard">
        <!-- <div class="manager">
             <div class="photo">
                 @if (Model.Advert.User.Avatar != null)
                 {
                     <img src="@Url.Content(Model.Advert.User.Avatar.Url + Model.Advert.User.Avatar.FileName)?w=90&h=90&mode=max" width="90px" height="90px">
                 }
                 else
                 {
                     <img src="~/Content/images/manager.png" width="90px" height="90px">
                 }
             </div>
             <div class="manager_info">
                 <div class="imgtel">
                     <img src="~/Content/images/minphone.png">
                 </div>
                 <div class="number">
                     @if (Model.Advert.User.Phones != null && Model.Advert.User.Phones.Count > 0)
                     {
                         foreach (var phone in Model.Advert.User.Phones)
                         {
                             <p>@phone.TelePhone</p>
                         }
                     }
                     <p>@Model.Advert.User.Email</p>
                     <p class="name">@Model.Advert.User.FirstName</p>
                 </div>
             </div>
         </div>-->
        <div id="mapapart_prod">
            <iframe src="https://maps.google.com/maps?q=@Model.Advert.Latitude.ToString(CultureInfo.InvariantCulture),@Model.Advert.Longitude.ToString(CultureInfo.InvariantCulture)&hl=es;z=14&amp;output=embed" width="1200px" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div id="mapnovostroy1">
            <iframe src="https://maps.google.com/maps?q=@Model.Advert.Latitude.ToString(CultureInfo.InvariantCulture),@Model.Advert.Longitude.ToString(CultureInfo.InvariantCulture)&hl=es;z=14&amp;output=embed" width="700px" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <span class="none">
        <div class="h2prodsale"><h2>Новинки аренды</h2></div>
    </span>
    <div class="d-carousel" id="p">
        @Html.Partial("Advert/_listOfAdvertsCarousel", Model.OtherAdverts)
    </div>
</span>