@using ReHouse.Utils.Helpers
@using System.Globalization;
@model ReHouse.FrontEnd.Models.LoadAdvertModel

@section scripts {
    @Scripts.Render("~/bundles/slides");
    <script>
        $(function () {
            $('#products').slides({
                preload: true,
                preloadImage: '',
                effect: 'slide, fade',
                crossfade: true,
                slideSpeed: 200,
                fadeSpeed: 500,
                generateNextPrev: true,
                generatePagination: false
            });
        });
    </script>
    <!--  FancyBox -->
    @Scripts.Render("~/bundles/fancybox");
    <script>
        $(document).ready(function () {
            $("a.plan").fancybox();
            // $("a.plan").fancybox({"frameWidth":1560,"frameHeight":1340});
        });
    </script>
}
<span class="noprint">

    <div class="navigation_string">
        <div class="way">
            @Html.ActionLink("Главная", "Index", "Home")
            <pre> </pre>
            <p>/</p>
            <pre> </pre>

            @{ string action = "", desc = "", pricePerSquere = ""; }

            @switch (Model.Advert.Category.ParentId)
            {
                case (int)ParrentCategories.Flat:
                    desc = "Снять квартиру";
                    action = "flat";
                    break;
                case (int)ParrentCategories.House:
                    desc = "Снять дом";
                    action = "house";
                    break;
                case (int)ParrentCategories.Homestead:
                    desc = "Снять участок";
                    action = "homestead";
                    break;
                case (int)ParrentCategories.Commerce:
                    desc = "Снять коммерцию";
                    action = "commerce";
                    break;
            }

            @Html.ActionLink(desc, action, "rent")
            <pre> </pre>
            <p>/</p>
            <pre> </pre>
            <a href="~/rent/@action/@Model.Advert.Category.Id">@Model.Advert.Category.RussianName</a>
        </div>
    </div>
</span>
<div class="h2novostroy">
    @*<h2>Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street</h2>*@
    <h2>@Model.Advert.TitleName, @Model.Advert.Street</h2>
    <div class="favorite">
        <a onclick="addtocart(@Model.Advert.Id, '@Model.Advert.Type', true, this);" id="favorite">Добавить в избранное</a>
    </div>
    <div class="favorite1">
        <a href="~/email/index" id="favorite">Подать заявку</a>
    </div>
</div>
<div class="share_icons">
    <div class="share_fb">
        <a onclick="Share.facebook('http://rehouse-realty.com.ua/rent/detail/@(Model.Advert.Id)', 'Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street', 'http://rehouse-realty.com.ua@(Url.Content(Model.Advert.Images?.FirstOrDefault() != null ? Model.Advert.Images.FirstOrDefault().Url + Model.Advert.Images.FirstOrDefault().FileName : "~/Content/images/news1.jpg"))', '@(Model.Advert.Description?.Replace(Environment.NewLine, " "))')"></a>
    </div>
    <div class="share_vk">
        <a onclick="Share.vkontakte('http://rehouse-realty.com.ua/rent/detail/@(Model.Advert.Id)', 'Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street', 'http://rehouse-realty.com.ua@(Url.Content(Model.Advert.Images?.FirstOrDefault() != null ? Model.Advert.Images.FirstOrDefault().Url + Model.Advert.Images.FirstOrDefault().FileName : "~/Content/images/news1.jpg"))', '@(Model.Advert.Description?.Replace(Environment.NewLine, " "))')"></a>
    </div>
    <div class="share_tw">
        <a onclick="Share.twitter('http://rehouse-realty.com.ua/rent/detail/@(Model.Advert.Id)', 'Сдам @Model.Advert.Title.RussianName, @Model.Advert.Street')"></a>
    </div>
</div>


@if (Model.Advert.Images != null && Model.Advert.Images.Count > 0)
{
    int i = 0;
    int j = 0;
    int max = !String.IsNullOrEmpty(Model.Advert.YouTubeUrl) ? 2 : 3;
    <span class="noprint">
        <div id="products_example">
            <div id="products">
                <div class="slides_container">
                    @foreach (var item in Model.Advert.Images)
                {
                    if (i >= max)
                    {
                        break;
                    }
                    i++;
                        <a><img src="@Url.Content(item.Url + item.FileName)" width="767" height="600" alt=""></a>
                    }
                    @if (!String.IsNullOrEmpty(Model.Advert.YouTubeUrl))
                    {
                        <a><iframe width="767" height="600" src="https://www.youtube.com/embed/@Model.Advert.YouTubeUrl" fram frameborder="0" allowfullscreen></iframe></a>
                    }
                </div>
                <ul class="pagination">

                    @foreach (var item in Model.Advert.Images)
                {
                    if (j >= max)
                    {
                        break;
                    }
                    j++;
                        <li><a href="#"><img src="@Url.Content(item.Url + item.FileName)" alt=""></a></li>
                    }
                    @if (!String.IsNullOrEmpty(Model.Advert.YouTubeUrl))
                    {
                        <li>
                            <a href="#">
                                <iframe width="244" height="188" src="https://www.youtube.com/embed/@Model.Advert.YouTubeUrl" frameborder="0" allowfullscreen></iframe>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </span>
}
<div class="seotext3">
    <div class="print">
        <a href='javascript:window.print(); void 0;'>
            <img src="~/Content/images/pechat.png" />
        </a>
    </div>
    <div class="h2sale"><h2>Описание</h2></div>
    <div class="h3cost">
        <p class="grn">@Model.Advert.Price грн/мес</p>
        <pre></pre>
        <p class="dot">·</p>

        @*@if (ViewBag.USD != 0)
            {
                <pre> </pre>
                <p class="DolUSA">@ViewBag.USD $/мес</p>
                <pre></pre>
            }
            @if (ViewBag.EUR != 0)
            {
                <p class="dot">·</p>
                <pre> </pre>
                <p class="grn">@ViewBag.EUR €/мес</p>
                <pre></pre>
                <p class="dot">·</p>
            }*@
        <pre> </pre>
        <p class="square_meter">@pricePerSquere</p>
    </div>

    <p class="text">@Model.Advert.Description</p>
</div>
<div class="table_of_prodapart">
    <table>
        <tr>
            <td>Тип рынка: </td>
            <td>@Model.Advert.MarketType.RussianName</td>
        </tr>
        @if (Model.Advert.Category.ParentId != (int)ParrentCategories.Homestead)
            {
            <tr>
                <td>Состояние: </td>
                <td>@Model.Advert.TrimCondition.RussianName</td>
            </tr>
        }
        <tr>
            <td>Адрес: </td>
            <td>@Model.Advert.Street</td>
        </tr>
        @foreach (var prop in Model.Properties)
            {
            <tr>
                <td>@prop.Key.RussianName: </td>
                <td>@prop.Value.PropertiesValue</td>
            </tr>
        }

    </table>
</div>
@if (Model.Advert.PlanImages != null && Model.Advert.PlanImages.Count > 0)
{
    <div class="planirovka">

        @foreach (var item in Model.Advert.PlanImages)
                {
            <a class="plan" rel="group" href="@Url.Content(item.Url + item.FileName)"><img src="@Url.Content(item.Url + item.FileName)" border="0" /></a>
        }
    </div>
}
<span class="noprint">
    @if (!String.IsNullOrEmpty(Model.Advert.YouTubeUrl))
    {

        <div class="video-youtube">
            <iframe width="711" height="533" src="https://www.youtube.com/embed/@Model.Advert.YouTubeUrl" frameborder="0" allowfullscreen></iframe>
        </div>
    }
    <div class="map_managercard">
        <div id="mapapart_prod">

            <iframe src="https://maps.google.com/maps?q=@Model.Advert.Latitude.ToString(CultureInfo.InvariantCulture),@Model.Advert.Longitude.ToString(CultureInfo.InvariantCulture)&hl=es;z=14&amp;output=embed" width="614px" height="428px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="manager">
            <div class="photo">
                @if (Model.Advert.User.Avatar != null)
            {
                    <img src="@Url.Content(Model.Advert.User.Avatar.Url + Model.Advert.User.Avatar.FileName)" width="90p" height="90">
                }
                else
                {
                    <img src="~/Content/images/manager.png" width="90p" height="90">
                }
            </div>
            <div class="manager_info">
                <div class="imgtel">
                    <img src="~/Content/images/minphone.png">
                </div>
                <div class="number">
                    @if (Model.Advert.User.Phones != null && Model.Advert.User.Phones.Count > 0)
                    {
                        foreach (var phone in Model.Advert.User.Phones)
                        {
                            <p>@phone.TelePhone</p>
                        }
                    }
                    <p>@Model.Advert.User.Email</p>
                    <p class="name">@Model.Advert.User.FirstName</p>
                </div>
            </div>
        </div>
    </div>


    <div class="h2prodsale"><h2>Новинки аренды</h2></div>
    <div class="othernovostroy">
        <ul class="prods" id="data-container">
            @if (Model.OtherAdverts.Count > 0)
            {
                foreach (var item in Model.OtherAdverts)
                {
                    <div class="data-item">
                        <li>
                            @if (item.IsExclusive)
                            {
                                <div class="redimg"><img src="~/Content/images/eksklusiv.png"></div>
                            }
                            else if (item.IsHot)
                            {
                                <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                            }
                            else
                            {
                                <div class="redimg"><img src="~/Content/images/newred.png"></div>
                            }
                            @if (item.Images != null && item.Images.Count > 0)
                            {
                                <a class="fix" href="~/rent/detail/@item.Id"><img src="@Url.Content(item.Images[0].Url + item.Images[0].FileName)" width="250" height="212" alt="" /></a>
                            }
                            else
                            {
                                <a href="~/rent/detail/@item.Id" class="fix"><img src="~/Content/images/news1.jpg" width="250" height="212" alt="" /></a>
                            }
                            <div class="min-content">
                                <div class="like" onclick="addtocart(@item.Id, '@item.Type', true, this);"></div>
                                @*<h3>Сдам @item.Title.RussianName.ToLower()</h3>*@
                                <h3>@item.TitleName</h3>
                                <h4>@item.Description</h4>
                                <p class="cost">@item.Price $</p>
                                <a href="~/rent/detail/@item.Id" id="follow">❯</a>
                            </div>
                        </li>
                    </div>
                }
            }
        </ul>
    </div>
</span>
