@using ReHouse.FrontEnd.Models
@model EmailModel
@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}


@using (Ajax.BeginForm("index", "email", null, new AjaxOptions
{
    UpdateTargetId = "emailForm",
    OnBegin = "preEmailSended",
}, new { @Id = "emailForm" }))
{
    if (ViewBag.Success == null)
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("advertId", (int)ViewBag.AdvertId)
        @Html.Hidden("type", (int)ViewBag.Type)
        <h3>Имя</h3>
        @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Введите ваше имя", @id = "applicationName" })
        <div class="errortext">
            @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "erroremail" })
        </div>
        @*<h3>Email</h3>
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "Введите ваш Email", @id = "applicationEmail" })
            <div class="errortext">
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "erroremail" })
            </div>*@
        <h3>Телефон</h3>
            @Html.TextBoxFor(x => x.Phone, new { @placeholder = "Введите ваш телефон", @id = "applicationTelephone" })
            <div class="errortext">
                @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "erroremail" })
            </div>
            <h3>Сообщение</h3>
            <p>@Html.TextAreaFor(x => x.Message, new { @placeholder = "Введите ваше сообщение", @rows = 3, @cols = 36, @id = "applicationText" })</p>
            <div class="errortext">
                @Html.ValidationMessageFor(model => model.Message, null, new { @class = "erroremail" })
            </div>

            <button class="applicationButton" type="submit" form="emailForm">Отправить</button>
    }
    else
    {
        <h3>Ваше сообщение отправлено!</h3>
    }
}