@using ReHouse.Utils.DataBase.News
@using ReHouse.Utils.DataBase.Feedback

@if (ViewBag.Articles != null)
{
    <div id="testimonials1">
        <div class="container" id="container">
        </div>
    </div>
}
@if (ViewBag.AdminFeedbacks != null)
{
    <div id="testimonials">
        <div class="container" id="container">
            <div class="f-next"></div>
            <div class="f-previous"></div>
            <div class="thumbs">
                @for (var i = 1; i <= ViewBag.AdminFeedbacks.Count; i++)
                {
                    <a href="#" onclick="" class="f@(i) @(i == 1? "thumbActive": "")"></a>
                }
            </div>
            <ul>
                @foreach (AdminFeedback fb in ViewBag.AdminFeedbacks)
                {
                    <li>
                        <div class="item">
                            <div class="inner-testimonial">
                                <div class="client">
                                    @if (fb.Image != null)
                                    {
                                        <div class="picture"><img src="@Url.Content(fb.Image.Url + fb.Image.FileName)?w=101&h=100&mode=max" class="full-opacity" title="@fb.Image.Title" alt="@fb.Image.Alt"></div>
                                    }
                                    else
                                    {
                                        <div class="picture"><img src="~/Content/images/client2.png" class="full-opacity" alt="Клиент 2"></div>
                                    }
                                    <div class="information">
                                        <h3 class="city-name">@fb.Username</h3>
                                        <h4 class="city-name">@fb.Adress</h4>
                                    </div>
                                </div>
                                <img src="~/Content/images/qq.png" />
                                <p class="text-testimonial">@fb.Description</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
@if (ViewBag.Articles != null)
{
    <div class="news">
        @foreach (Article article in ViewBag.Articles)
        {
            <a href="/news/detail/@article.Id">
                <div class="firstnews">
                    <div class="content1">
                        <div class="img">
                            @if (article.Images != null && article.Images.Count > 0)
                            {
                                <img src="@Url.Content(article.Images[0].Url + article.Images[0].FileName)?w=545&h=307&mode=max" title="@article.Images[0].Title" alt="@article.Images[0].Alt" width="545" height="307" />
                            }
                            else
                            {
                                <img src="~/Content/images/news1.jpg" width="545" height="307">
                            }
                        </div>
                        <div class="h4"><h4>@article.Date.ToShortDateString() в @article.Date.ToShortTimeString()</h4></div>
                        <div class="h3"><h3>@article.Title</h3></div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="morenews">
        <a href="/news/" id="more">Все новости</a>
    </div>
}
@if (ViewBag.Partners != null)
{
    <div class="container" id="container">
        <div class="h23"><h2><span>Наши</span> партнеры</h2></div>
        <div id="partners">

            <div class="p-next"></div>
            <div class="p-previous"></div>

            <ul>
                @foreach (Partner partner in ViewBag.Partners)
                {
                    <li>
                        <img src="@Url.Content(partner.Image.Url + partner.Image.FileName)" />
                    </li>
                }
            </ul>
        </div>
    </div>
}