@using ReHouse.Utils.DataBase.News
@if (ViewBag.Articles != null)
{
    <div id="testimonials1">
        <div class="container" id="container">
        </div>
    </div>
    <div id="testimonials">
        <div class="container" id="container">
            <div class="f-next"></div>
            <div class="f-previous"></div>
            <div class="thumbs">
                <a href="#" onclick="" class="f1 thumbActive" id="f-a"></a>
                <a href="#" onclick="" class="f2" id="f-b"></a>
                <a href="#" onclick="" class="f3" id="f-c"></a>
                @*<a href="#" onclick="" class="f4" id="f-d"></a>*@
            </div>
            <ul>
                <li>
                    <div class="item">
                        <div class="inner-testimonial">
                            <div class="client">
                                <div class="picture"><img src="~/Content/images/client2.png" class="full-opacity" alt="Клиент 2"></div>
                                <div class="information">
                                    <h3 class="city-name">Клиент text text text </h3>
                                    <h4 class="city-name">г. Одесса text text text</h4>
                                </div>
                            </div>
                            <img src="~/Content/images/qq.png" />
                            <p class="text-testimonial">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот последний на берегу послушавшись, подзаголовок! Грамматики живет власти текст дорогу.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="inner-testimonial">
                            <div class="client">
                                <div class="picture"><img src="~/Content/images/client2.png" class="full-opacity" alt="Клиент 2"></div>
                                <div class="information">
                                    <h3 class="city-name">Клиент text text text </h3>
                                    <h4 class="city-name">г. Одесса text text text</h4>
                                </div>
                            </div>
                            <img src="~/Content/images/qq.png" />
                            <p class="text-testimonial">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот последний на берегу послушавшись, подзаголовок! Грамматики живет власти текст дорогу.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="inner-testimonial">
                            <div class="client">
                                <div class="picture"><img src="~/Content/images/client2.png" class="full-opacity" alt="Клиент 2"></div>
                                <div class="information">
                                    <h3 class="city-name">Клиент text text text </h3>
                                    <h4 class="city-name">г. Одесса text text text</h4>
                                </div>
                            </div>
                            <img src="~/Content/images/qq.png" />
                            <p class="text-testimonial">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот последний на берегу послушавшись, подзаголовок! Грамматики живет власти текст дорогу.</p>
                        </div>
                    </div>
                </li>
                @*<li><iframe width="1500" height="380" src="https://www.youtube.com/embed/gH3NfPbh42Q" frameborder="0" allowfullscreen></iframe></li>*@
            </ul>
        </div>
    </div>

    <div class="news">
        @foreach (Article article in ViewBag.Articles)
                {
            <a href="/news/detail/@article.Id">
                <div class="firstnews">
                    <div class="content1">
                        <div class="img">
                            @if (article.Images != null && article.Images.Count > 0)
                            {
                                <img src="@Url.Content(article.Images[0].Url + article.Images[0].FileName)?w=545&h=307&mode=max" title="@article.Images[0].Title" alt="@article.Images[0].Alt" width="545" height="307" />
                            }
                            else
                            {
                                <img src="~/Content/images/news1.jpg" width="545" height="307">
                            }
                        </div>
                        <div class="h4"><h4>@article.Date.ToShortDateString() в @article.Date.ToShortTimeString()</h4></div>
                        <div class="h3"><h3>@article.Title</h3></div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="morenews">
        <a href="/news/" id="more">Все новости</a>
    </div>

        <div class="container" id="container">
            <div class="h23"><h2><span>Наши</span> партнеры</h2></div>
            <div id="partners">

                <div class="p-next"></div>
                <div class="p-previous"></div>

                <ul>
                    <li>
                        <img src="~/Content/images/bud.png" />
                    </li>
                    <li>
                        <img src="~/Content/images/kadorr.png" />
                    </li>
                    <li>
                        <img src="~/Content/images/od.png" />
                    </li>
                    <li>
                        <img src="~/Content/images/ok.png" />
                    </li>
                    <li>
                        <img src="~/Content/images/riv.png" />
                    </li>
                    <li>
                        <img src="~/Content/images/gefest.png" />
                    </li>
                </ul>

            </div>
        </div>
}