@using ReHouse.Utils.DataBase.News
@model List<Article>

@if (Model.Count > 0)
{
    foreach (var article in Model)
    {
        <div class="firstnews"> 
            <div class="content1">
                <div class="img">
                    @if (article.Images != null && article.Images.Count > 0)
                    {
                        <img src="@Url.Content(article.Images[0].Url + article.Images[0].FileName)" title="@article.Images[0].Title" alt="@article.Images[0].Alt" width="440" height="263" />
                    }
                    else
                    {
                        <img src="~/Content/images/news1.jpg" width="440" height="263">
                    }
                </div>
                <h3>@article.Title</h3>
                @if (@article.Description.Length > 400)
                {
                    <p id="news_@article.Id">@Html.Raw(article.Description.Substring(0, 399)) ...</p>
                }
                else
                {
                    <p>@Html.Raw(article.Description)</p>
                }
                @*<div class="share_icons1">
                        <div class="share_fb">
                            <a onclick="Share.facebook('http://rehouse-realty.com.ua/news/', '@article.Title', 'http://rehouse-realty.com.ua@(Url.Content("~/Content/images/news1.jpg"))', '@article.Description')"></a>
                        </div>
                        <div class="share_vk">
                            <a onclick="Share.vkontakte('http://rehouse-realty.com.ua/news/', '@article.Title', 'http://rehouse-realty.com.ua@(Url.Content("~/Content/images/news1.jpg"))', '@article.Description')"></a>
                        </div>
                        <div class="share_tw">
                            <a onclick="Share.twitter('http://rehouse-realty.com.ua/news/', '@article.Title')"></a>
                        </div>
                    </div>*@
                <h4>@article.Date.ToShortDateString() в @article.Date.ToShortTimeString()</h4>
                <a href="/news/detail/@article.Id" @*onclick="showDetails(@article.Id, this);"*@ id="more">Подробнее</a>
                @*<p id="newsHidden_@article.Id" style="display:none">@article.Description</p>*@
            </div>
        </div>
    }
}