@using ReHouse.Utils.DataBase.Common
@model SeoParam
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navigation", "seoparametrs")

<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>

    <div class="photo_of_manager">
        <form enctype="multipart/form-data" action="" method="POST">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationSummary()
            <div class="contact_info">
                <table>
                    <input type="hidden" name="seo_id" value="@Model.Id" />
                    <tr>
                        <td>Url:</td>
                        <td>@Model.FullUrl</td>
                    </tr>
                    <tr>
                        <td>SEO Title:</td>
                        <td>@Html.TextBoxFor(m => m.Title)</td>
                    </tr>
                    <tr>
                        <td>SEO Description:</td>
                        <td>@Html.TextAreaFor(m => m.Description, new { @rows = "30", @cols = "30" })</td>
                    </tr>
                    <tr>
                        <td>SEO Keywords:</td>
                        <td>@Html.TextAreaFor(m => m.Keywords, new { @rows = "30", @cols = "30" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Сохранить</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
