@using ReHouse.Utils.DataBase.Geo
@model District
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    var dis = ViewBag.Districts as List<District>;

}
@Html.Partial("_navigation", "districts")

<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>
            
        <div class="photo_of_manager">
            <form enctype="multipart/form-data" action="" method="POST">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.ValidationSummary()
                <div class="contact_info">
                    <table>
                        @if (ViewBag.Districts != null && ViewBag.Districts.Count > 0)
                        {
                            <tr>
                                <td>Район:</td>
                                <td>@Html.DropDownListFor(m => m.ParrentId, new SelectList(dis.Where(x => x.ParrentId == null).OrderByDescending(x => x.Id), "Id", "RussianName"))</td>
                            </tr>
                        }
                        <tr>
                            <td>Заголовок:</td>
                            <td>@Html.TextBoxFor(m => m.RussianName)</td>
                        </tr>                        
                        <tr>
                            <td></td>
                            <td><button>Сохранить</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
