@using ReHouse.Utils.Helpers
@model List<CartAdvertModel>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="data-item">
            <li>
                @if (item.IsExclusive)
                {
                    <div class="redimg"><img src="~/Content/images/eksklusiv.png"></div>
                }
                else if (item.IsHot)
                {
                    <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                }
                else
                {
                    <div class="redimg"><img src="~/Content/images/newred.png"></div>
                }
                @if (item.Type == ReHouse.Utils.Helpers.AdvertsType.Sale)
                {
                    if (item.Image != null)
                    {
                        <a class="fix" href="~/sale/detail/@item.Id"><img src="@Url.Content(item.Image.Url + item.Image.FileName)" title="@item.Image.Title" alt="@item.Image.Alt" width="250" height="212"/></a>
                    }
                    else
                    {
                        <a href="~/sale/detail/@item.Id" class="fix"><img src="~/Content/images/prod1.jpg" width="250" height="212" alt="" /></a>
                    }
                    <div class="min-content">
                        <div class="liked" onclick="addtocart(@item.Id, '@item.Type', false, this);"></div>

                        <h3>Продам @item.Name.ToLower()</h3>
                        @*<h3>@item.Name</h3>*@
                        <h4>@item.Description</h4>
                        <p class="cost">@item.Price $</p>
                        <a href="~/sale/detail/@item.Id" id="follow">❯</a>
                    </div>
                }
                else if (item.Type == ReHouse.Utils.Helpers.AdvertsType.NewBuilding)
                {
                    if (item.Image != null)
                    {
                        <a class="fix" href="~/newbuilding/detail/@item.Id"><img src="@Url.Content(item.Image.Url + item.Image.FileName)" title="@item.Image.Title" alt="@item.Image.Alt" width="250" height="212"/></a>
                    }
                    else
                    {
                        <a href="~/newbuilding/detail/@item.Id" class="fix"><img src="~/Content/images/prod1.jpg" width="250" height="212" alt="" /></a>
                    }
                    <div class="min-content">
                        <div class="liked" onclick="addtocart(@item.Id, '@item.Type', false, this);"></div>
                        <h3>@item.Name</h3>
                        <h4>@item.Adress <br />Сдача: @item.Description</h4>
                        <p class="cost">от @item.Price грн/м²</p>
                        <a href="~/newbuilding/detail/@item.Id" id="follow">❯</a>
                    </div>
                }
                else
                {
                    if (item.Image != null)
                    {
                        <a class="fix" href="~/rent/detail/@item.Id"><img src="@Url.Content(item.Image.Url + item.Image.FileName)" title="@item.Image.Title" alt="@item.Image.Alt" width="250" height="212"/></a>
                    }
                    else
                    {
                        <a href="~/rent/detail/@item.Id" class="fix"><img src="~/Content/images/prod1.jpg" width="250" height="212" alt="" /></a>
                    }
                    <div class="min-content">
                        <div class="liked" onclick="addtocart(@item.Id, '@item.Type', false, this);"></div>
                        <h3>Сдам @item.Name.ToLower()</h3>
                        @*<h3>@item.Name</h3>*@
                        <h4>@item.Description</h4>
                        <p class="cost">@item.Price $</p>
                        <a href="~/rent/detail/@item.Id" id="follow">❯</a>
                    </div>
                }
            </li>
        </div>
    }
}