@model ITFamily.FrontEnd.Models.RecoveryPasswordModel

@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}

@using (Ajax.BeginForm("RecoveryPasswordPartial", "Authorize", null, new AjaxOptions
{
    UpdateTargetId = "recoveryPassword",
    OnSuccess = "RemindOnComplete"
},
new
{
    @id = "recoveryPassword",
    @class = "form-main"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    var success = ViewBag.Success as bool?;
    var error = ViewBag.Error as string;
    if (success.HasValue && success.Value)
    {
        <div class="remind-password">
            <div class="header-ps">
                Восстановление пароля!
                Пожалуйса введите свой пароль и подтверждение
            </div>
            <div class="label">Введите новый пароль</div>
            @Html.TextBoxFor(x => x.Password, new { @class = "input form-main-input", @placeholder = "Введите новый пароль" })
            <div class="clearfix"></div>
            <div class="label">Подтвердите пароль</div>

            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "input form-main-input", @placeholder = "Подтвердите пароль" })
            <div class="clearfix"></div>
            @Html.HiddenFor(x => x.TokenHash)
            <div class="error-text">
                @Html.ValidationMessage("OtherError", new { @class = "" })
                <div class="clearfix"></div>
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "" })
                <div class="clearfix"></div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "" })
                <div class="clearfix"></div>
            </div>

            <button type="submit" class="button confirm-button">Подтвердить восстановление</button>
        </div>
    }
    else
    {
        <div class="remind-password">
            <div class="header-ps">
                @if (!String.IsNullOrEmpty(error))
                {
                    @error
                }
                else
                {
                    @:Произойшла ошибка при восстановлении пароля. Повторите попытку еще раз.
                }
            </div>
        </div>
    }
}

