@using ReHouse.Utils.DataBase.AdvertParams
@using ReHouse.Utils
@using ReHouse.FrontEnd.Models
@model TagPage
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
    SessionModel session = Session["user"] as SessionModel;
}
@Html.Partial("_navigation", "tagpages")

<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>

    <div class="photo_of_manager">
        <form enctype="multipart/form-data" action="" method="POST">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationSummary()
            <div class="contact_info">
                <table>
                    @if (session != null)
                    {
                        <input type="hidden" name="seo_id" value="@ViewBag.SeoParam.Id" />
                        if (session.Role.RussianName == ConstV.RoleSeo || session.Role.RussianName == ConstV.RoleAdministrator)
                        {
                            <tr>
                                <td>SEO Title:</td>
                                <td><input type="text" name="seo_title" value="@ViewBag.SeoParam.Title" /></td>
                            </tr>
                            <tr>
                                <td>SEO Description:</td>
                                <td><textarea name="seo_description">@ViewBag.SeoParam.Description</textarea></td>
                            </tr>
                            <tr>
                                <td>SEO Keywords:</td>
                                <td><textarea name="seo_keywords">@ViewBag.SeoParam.Keywords</textarea></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Заголовок:</td>
                        <td>@Html.TextBoxFor(m => m.RussianName)</td>
                    </tr>
                    <tr>
                        <td>Уникальная ссылка:</td>
                        <td>@Html.TextBoxFor(m => m.ShortName)</td>
                    </tr>
                    <tr>
                        <td>Текст:</td>
                        <td>@Html.TextAreaFor(m => m.SeoText, new { @rows = "30", @cols = "30" })</td>
                    </tr>
                    <tr>
                        <td>Активна:</td>
                        <td>@Html.CheckBoxFor(m => m.IsActive)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Сохранить</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
