@using ReHouse.Utils.DataBase.News
@model List<Article>

@Scripts.Render("~/bundles/showDetails")

<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("Новости", "index", "news")
    </div>
</div>
<div class="news">
    <h2>Новости</h2>
    @foreach (var article in Model)
    {
        <div class="firstnews">
            <div class="img">
                <img src="~/Content/images/news1.jpg" width="440" height="263">
            </div>
            <div class="content1">
                <h3>@article.Title</h3>
                @if (@article.Description.Length > 750)
                {
                    <p id="news_@article.Id">@article.Description.Substring(0, 749) ...</p>
                }
                else
                {
                    <p>@article.Description</p>
                }
                <h4>@article.Date.ToShortDateString() в @article.Date.ToShortTimeString()</h4>
                <a onclick="showDetails(@article.Id, this);" id="more">Подробнее</a>
                <p id="newsHidden_@article.Id" style="display:none">@article.Description</p>
            </div>
        </div>
    }
    <div class="morenews1" id="button-more" onclick="return false;">
        <a href="#" id="more">Больше новостей</a>
    </div>
    <div id="loading-div">
    </div>
</div>
