@using ReHouse.FrontEnd.Models
@using ReHouse.Utils.Helpers
@using ReHouse.Utils
@model LoadAdvertsModel
@if (Session != null && Session["user"] is SessionModel)
{
    var session = Session["user"] as SessionModel;

    <script>
    function rentTypeChanged() {
        var type = $('#rent_type').val();
        if (type == 1) {
            $('#price2').hide();
            $('#price_max2').hide();
            $('#price').show();
            $('#price_max').show();
        } else {
            $('#price').hide();
            $('#price_max').hide();
            $('#price2').show();
            $('#price_max2').show();
        }
    }
    </script>

    <div class="selection-admin">
        <div class="typeofproperty">
            <select id="category">
                <option selected value="@Model.CategoryId">Тип недвижимости</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.RussianName</option>
                }
            </select>
        </div>
        <div class="region">
            <select id="district">
                <option selected value="0">Выбрать район</option>
                @foreach (var district in Model.Districts.Where(x => x.ParrentId == null).OrderByDescending(x => x.Id))
                {
                    <option disabled value="@district.Id">--@district.RussianName--</option>
                    foreach (var dis in Model.Districts.Where(x => x.ParrentId == district.Id))
                    {
                        <option value="@dis.Id">@dis.RussianName</option>
                    }
                }
            </select>
        </div>

        <div class="_cost">
            @if (ViewBag.Type == AdvertsType.Sale)
            {
                <select id="price">
                    @*<option selected value="0">Цена от</option>*@
                    @foreach (var price in Model.Prices)
                    {
                        <option value="@price.Min">от @price.Min $</option>
                        @*if (i == 0)
                        {
                        <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max $</option>
                        }
                        else if (i == Model.Prices.Count - 1)
                        {
                        <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min $</option>
                        }
                        else
                        {
                        <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max $</option>
                        }*@
                    }
                </select>
                <select id="price_max">
                    @*<option selected value="0">Цена до</option>*@
                    @foreach (var price in Model.Prices)
                    {

                        <option value="@price.Min">до @price.Min $</option>
                        @*if (i == 0)
                        {
                            <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max $</option>
                        }
                        else if (i == Model.Prices.Count - 1)
                        {
                            <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min $</option>
                        }
                        else
                        {
                            <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max $</option>
                        }*@
                    }

                </select>
            }
            else if (ViewBag.Type == AdvertsType.Rent)
            {
                <select id="price">
                    @*<option selected value="0">Цена от</option>*@
                    @foreach (var price in Model.Prices.Where(x => x.Currency == "uah"))
                    {

                        <option value="@price.Min">от @price.Min грн</option>
                        @*if (i == 0)
                        {
                        <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max $</option>
                        }
                        else if (i == Model.Prices.Count - 1)
                        {
                        <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min $</option>
                        }
                        else
                        {
                        <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max $</option>
                        }*@
                    }
                </select>
                <select id="price_max">
                    @*<option selected value="0">Цена до</option>*@
                    @foreach (var price in Model.Prices.Where(x => x.Currency == "uah"))
                    {

                        <option value="@price.Min"> до @price.Min грн</option>
                        @*if (i == 0)
                        {
                            <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max грн/мес</option>
                        }
                        else if (i == Model.Prices.Count - 1)
                        {
                            <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min грн/мес</option>
                        }
                        else
                        {
                            <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max грн/мес</option>
                        }*@
                    }
                </select>

                <select id="price2" style="display:none;">
                    @*<option selected value="0">Цена от</option>*@
                    @foreach (var price in Model.Prices.Where(x => x.Currency == "usd"))
                    {

                        <option value="@price.Min">от @price.Min $</option>
                        @*if (i == 0)
                        {
                        <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max $</option>
                        }
                        else if (i == Model.Prices.Count - 1)
                        {
                        <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min $</option>
                        }
                        else
                        {
                        <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max $</option>
                        }*@
                    }
                </select>
                <select id="price_max2" style="display:none;">
                    @*<option selected value="0">Цена до</option>*@
                    @foreach (var price in Model.Prices.Where(x => x.Currency == "usd"))
                    {

                        <option value="@price.Min"> до @price.Min $</option>
                        @*if (i == 0)
                        {
                            <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max грн/мес</option>
                        }
                        else if (i == Model.Prices.Count - 1)
                        {
                            <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min грн/мес</option>
                        }
                        else
                        {
                            <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max грн/мес</option>
                        }*@
                    }
                </select>

            }
        </div>
        @if (ViewBag.Type == AdvertsType.Rent)
        {
        <div class="typeofproperty">
            <select id="rent_type" onchange="rentTypeChanged();">
                @*<option value="0">Период сдачи</option>*@
                <option value="1">Посуточно</option>
                <option value="2">Помесячно</option>
            </select>
        </div>
        }

        @if (Model.TrimConditions != null)
        {
            <div class="trimcondition">
                <select id="trimcondition">
                    <option selected value="0">Состояние отделки</option>
                    @foreach (var condition in Model.TrimConditions)
                    {
                        <option value="@condition.Id">@condition.RussianName</option>
                    }
                </select>
            </div>
        }
        @if (session != null && (session.Role.RussianName == ConstV.RoleAdministrator || session.Role.RussianName == ConstV.RoleManager))
        {
            <div class="ck">
                <select id="managers">
                    <option selected value="0">Менеджер</option>
                    @foreach (var user in Model.Users)
                    {
                        if (!String.IsNullOrEmpty(user.FirstName) && !String.IsNullOrEmpty(user.SecondName))
                        {
                            <option value="@user.Id">@(user.FirstName + " " + user.SecondName)</option>
                        }
                        else
                        {
                            <option value="@user.Id">@user.Email</option>
                        }
                    }
                </select>
            </div>
        }
        @*<div class="checkbox_">
                <select id="isonlyuser">
                    <option value="false">Все объявления</option>
                    <option value="true">Мои объявления</option>
                </select>
            </div>*@

        <div class="search-button-admin" id="search">
            <a>Поиск</a>
        </div>
    </div>
}