@using ReHouse.Utils.DataBase.Security
@model List<User>

<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("Менеджеры", "index", "manager")
    </div>
</div>
<div class="managers">
    <h2>Менеджеры</h2>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="manager_">
                <div class="img">
                    @if (item.Avatar != null)
                    {
                        <a href="/manager/profile/@item.Id">
                            <img src="@Url.Content(item.Avatar.Url + item.Avatar.FileName)" width="120" height="121" />
                        </a>
                    }
                    else
                    {
                        <a href="/manager/profile/@item.Id">
                            <img src="~/content/images/girl1.png" width="120" height="121">
                        </a>
                    }
                </div>
                <div class="contactinfo">
                    <h3>
                        <a href="/manager/profile/@item.Id">
                            @item.FirstName
                        </a>
                    </h3>
                    <h3>@item.Position</h3>
                    <h3>Контакты:</h3>
                    @if (item.Phones != null && item.Phones.Count > 0)
                    {
                        foreach (var phone in item.Phones)
                        {
                            <h3>@phone.TelePhone</h3>
                        }
                    }
                    <h3>@item.Email</h3>
                </div>
                <div class="about_manager">
                    <p>@item.About</p>
                </div>
            </div>
        }
    }
</div>  