@using ReHouse.Utils.DataBase.Vacancies
@model Vacancy
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navigation", "vacancies")

<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>

    <div class="photo_of_manager">
        <form enctype="multipart/form-data" action="" method="POST">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationSummary()
            <div class="contact_info">
                <table>
                    <tr>
                        <td>Заголовок:</td>
                        <td>@Html.TextBoxFor(m => m.Title)</td>
                    </tr>

                    <tr>
                        <td>Содержание:</td>
                        <td>@Html.TextAreaFor(m => m.Description, new { @rows = "30", @cols = "30", @id="wyiswyg" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Сохранить</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("textarea#wyiswyg").jqte();
        });
    </script>
}