@using ReHouse.Utils.DataBase.Vacancies
@model Vacancy
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
<div class="list_">
    <h2 class="tabset_label">Table of Contents</h2>
    <ul class="tabset_tabs">
        <li class="firstchild 1"><a href="~/cabinet/profile">Профиль</a></li>
        <li>
            <a class="1">Продажа</a>
            <ol>
                <li><a href="~/cabinet/sale/flat">Квартиры</a></li>
                <li><a href="~/cabinet/sale/house">Дома</a></li>
                <li><a href="~/cabinet/sale/homestead">Участки</a></li>
                <li><a href="~/cabinet/sale/commerce">Коммерция</a></li>
            </ol>
        </li>

        <li>
            <a class="2">Аренда</a>
            <ol>
                <li><a href="~/cabinet/rent/flat">Квартиры</a></li>
                <li><a href="~/cabinet/rent/house">Дома</a></li>
                @*<li><a href="~/cabinet/rent/homestead">Участки</a></li>*@
                <li><a href="~/cabinet/rent/commerce">Коммерция</a></li>
            </ol>
        </li>
        <li><a class="3" href="~/cabinet/newbuilding/list">Новострои</a></li>
        <li><a class="3" href="~/cabinet/news/list">Новости</a></li>
        <li><a class="4" href="~/cabinet/feedbacks/list">Отзывы</a></li>
        <li><a class="preActive active" href="~/cabinet/vacancies/list">Вакансии</a></li>
        <li><a class="4" href="~/cabinet/builders/list">Застройщики</a></li>
        <li><a class="4" href="~/cabinet/districts/list">Районы</a></li>
        <li><a class="4" href="~/cabinet/seoparametrs/list">SEO параметры</a></li>
        <li><a class="4" href="~/cabinet/texts/list">Тексты</a></li>
    </ul>
</div>
<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>
            
        <div class="photo_of_manager">
            <form enctype="multipart/form-data" action="" method="POST">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.ValidationSummary()
                <div class="contact_info">
                    <table>                        
                        <tr>
                            <td>Заголовок:</td>
                            <td>@Html.TextBoxFor(m => m.Title)</td>
                        </tr>
                        
                        <tr>
                            <td>Содержание:</td>
                            <td>@Html.TextAreaFor(m => m.Description, new { @rows = "30", @cols = "30" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button>Сохранить</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
