@using ReHouse.FrontEnd.Helpers
@using ReHouse.FrontEnd.Models

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/jpg" href="~/Content/images/rehousemin.jpg">
    <meta charset="utf-8">
    <meta http-equiv="~/Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (!String.IsNullOrEmpty(ViewBag.Title))
    {
        <title>@ViewBag.Title</title>
        <meta property="og:title" content="@ViewBag.Title" />
        <meta name="twitter:title" content="@ViewBag.Title">
        <meta itemprop="name" content="@ViewBag.Title" />
        <meta property="og:site_name" content="@ViewBag.Title" />
    }
    else
    {
        <title>Агенство недвижимости ReHouse.com.ua</title>
        <meta property="og:title" content="Агенство недвижимости ReHouse.com.ua" />
        <meta name="twitter:title" content="Агенство недвижимости ReHouse.com.ua">
        <meta itemprop="name" content="Агенство недвижимости ReHouse.com.ua" />
        <meta property="og:site_name" content="Агенство недвижимости ReHouse.com.ua" />
    }
    <meta name="keywords" content="Агенство недвижимости ReHouse.com.ua" />
    @if (!String.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@ViewBag.Description" />
        <meta property="og:description" content="@ViewBag.Description" />
        <meta name="twitter:description" content="@ViewBag.Description" />
        <meta itemprop="description" content="@ViewBag.Description" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.Image))
    {
        <meta property="og:image" content="@ViewBag.Image" />
        <meta name="twitter:image:src" content="@ViewBag.Image" />
        <meta itemprop="image" content="@ViewBag.Image" />
    }
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/styleCss")

    <!-- Alert при закрытии -->
    <!-- <script>
        $(window).on('beforeunload', function(){ return 'Вы уверены, что хотите покинуть страницу?сука'; });
    </script> -->
    <!-- TO TOP -->
    <script>

        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>
</head>
<body>
    <div class="container" id="container">


        <div class="header">

            <div class="logo">
                <a href="~/Home/Index" id=""><img src="~/Content/images/logo.png" width="300"></a>
                <p class="textlogo">Международная риэлторская инвестиционная компания</p>
            </div>

            <div class="search">
                <p><form class="form-search" method="get" action="/search" target="_blank"><input type="text" name="q" placeholder="Введите слово или фразу" value="" /></form></p>

                @if (Session != null && Session["user"] is SessionModel)
                {
                    var session = Session["user"] as SessionModel;

                    <div class="your_name">
                        <div><p>Ваш логин:</p></div>
                        @if (!String.IsNullOrEmpty(session.User.Login))
                        {
                            <div class="your_login"><p><a href="~/cabinet/profile" class="">@session.User.Login</a></p></div>

                        }
                        else
                        {
                            <div class="your_login"><p><a href="~/cabinet/profile" class="">@session.User.Email</a></p></div>
                        }
                        <div class="logout"><p>@Html.ActionLink("Выйти", "logout", "authorize")</p></div>
                    </div>
                }
            </div>

            <div class="contactinfo">
                <div class="tel">
                    <div class="imgtel">
                        <img src="~/Content/images/tel.png">
                    </div>
                    <div class="number">
                        <p>+38093 057 7110</p>
                        <p>+38048 788 6707</p>
                    </div>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/rehouseodessastars/?ref=bookmarks" class="fb" target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCr_t3R1EhpY6oAWnwSSmC-A" class="yt" target="_blank"></a>
                    <a href="https://www.instagram.com/rehouseodessa/" class="gmail" target="_blank"></a>
                    <a href="https://vk.com/rehouseodessastars" class="vk" target="_blank"></a>
                </div>
            </div>

            <div class="feedback">
                <a href="~/cart/index" id="fav">Избранное</a>
                <a href="~/email/index" id="blink">Обратный звонок</a>
            </div>

        </div>

        <div id="nav">
            <div class="navigation">
                <ol>
                    <li>
                        <a id="">Продажа</a>
                        <ol>
                            @*<li>@Html.ActionLink("Купить квартиру", "flat", "sale")</li>
                                <li>@Html.ActionLink("Купить дом", "house", "sale")</li>
                                <li>@Html.ActionLink("Купить участок", "homeStead", "sale")</li>
                                <li>@Html.ActionLink("Купить коммерческую", "commerce", "sale")</li>*@
                            <li><a href="~/sale/flat">Купить квартиру</a></li>
                            <li><a href="~/sale/house">Купить дом</a></li>
                            <li><a href="~/sale/homestead">Купить участок</a></li>
                            <li><a href="~/sale/commerce">Купить коммерцию</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#" id="">Аренда</a>
                        <ol>
                            @*<li>@Html.ActionLink("Снять квартиру", "flat", "rent")</li>*@
                            @*<li>@Html.ActionLink("Снять дом", "house", "rent")</li>*@
                            @*<li>@Html.ActionLink("Снять участок", "homeStead", "rent")</li>*@
                            <li><a href="~/rent/flat">Снять квартиру</a></li>
                            <li><a href="~/rent/house">Снять дом</a></li>
                            <li><a href="~/rent/homestead">Снять участок</a></li>
                        </ol>
                    </li>
                    <li><a href="~/newbuilding/">ЖК Новострои</a></li>
                    <li><a href="~/manager/" id="">Менеджеры</a></li>
                    <li>
                        <a href="#" id="">О нас</a>
                        <ol>
                            <li><a href="~/home/about">О компании</a></li>
                            <li><a href="~/vacancy/">Вакансии агенства</a></li>
                        </ol>
                    </li>



                </ol>
            </div>

            <div class="sell">
                <a href="~/email/index" id="">Хочу продать!</a>
            </div>
        </div>


        @RenderBody()

        <div class="footer">
            <div id="toTop"></div>
            <div class="social">
                <a href="https://www.facebook.com/rehouseodessastars/?ref=bookmarks" class="fb" target="_blank"></a>
                <a href="https://www.youtube.com/channel/UCr_t3R1EhpY6oAWnwSSmC-A" class="yt" target="_blank"></a>
                <a href="https://www.instagram.com/rehouseodessa/" class="gmail" target="_blank"></a>
                <a href="https://vk.com/rehouseodessastars" class="vk" target="_blank"></a>
            </div>
            <div class="bottomnav">
                <a href="~/news/index" class="">Новости</a>
                <a href="~/home/contacts" class="">Контакты</a>
                <a href="~/map/index" class="">Карта сайта</a>
                <a href="~/feedback/index" class="">Отзывы</a>
                @if (Session == null || Session["user"] == null)
                {
                    <a class="f" data-dropdown="login-modal" data-options="align:top ignore_repositioning" aria-controls="login-modal" aria-expanded="false" href="/login">Войти</a>
                        <div class="forms-wrapper">
                            <div class="form-drop f-dropdown drop-top" tabindex="-1" data-dropdown-content aria-hidden="true" id="login-modal">
                                <ol class="login">
                                    <li>
                                        <div class="login">
                                            <div class="bodyform">
                                                @Html.Partial("UnregisteredUsers/_loginPartial", new LoginModel())
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                }
                else
                {
                    @Html.ActionLink("Выйти", "logout", "authorize")
                }

            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/addtocart")
    @Scripts.Render("~/bundles/lazyLoad")
    @Scripts.Render("~/bundles/unob")
    @Scripts.Render("~/Scripts/foundation")
    @Scripts.Render("~/Scripts/vendorJs")
    @Scripts.Render("~/Scripts/modulesJs")
    <script type="text/javascript">
        $(document).foundation();
        $(document).foundation('dropdown', 'reflow');

        Share = {
            vkontakte: function (purl, ptitle, pimg, text) {
                url = 'http://vkontakte.ru/share.php?';
                url += 'url=' + encodeURIComponent(purl);
                url += '&title=' + encodeURIComponent(ptitle);
                url += '&description=' + encodeURIComponent(text);
                url += '&image=' + encodeURIComponent(pimg);
                url += '&noparse=true';
                Share.popup(url);
            },
            facebook: function (purl, ptitle, pimg, text) {
                url = 'http://www.facebook.com/sharer.php?s=100';
                url += '&p[title]=' + encodeURIComponent(ptitle);
                url += '&p[summary]=' + encodeURIComponent(text);
                url += '&p[url]=' + encodeURIComponent(purl);
                url += '&p[images][0]=' + encodeURIComponent(pimg);
                Share.popup(url);
            },
            twitter: function (purl, ptitle) {
                url = 'http://twitter.com/share?';
                url += 'text=' + encodeURIComponent(ptitle);
                url += '&url=' + encodeURIComponent(purl);
                url += '&counturl=' + encodeURIComponent(purl);
                Share.popup(url);
            },

            popup: function (url) {
                window.open(url, '', 'toolbar=0,status=0,width=626,height=436');
            }
        }
    </script>
</body>
</html>
