@using ReHouse.FrontEnd.Helpers
@using ReHouse.FrontEnd.Models
@using ReHouse.Utils.DataBase.News
@using ReHouse.Utils.DataBase.Common
    @{
        var seo = ViewBag.SeoParams as SeoParam;
    }
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/jpg" href="~/Content/images/rehousemin.jpg">
    <meta charset="utf-8">
    <meta http-equiv="~/Content-Type" content="text/html; charset=utf-8">
    @if (seo != null)
    {
        <title>@seo.Title</title>
        <meta property="og:title" content="@seo.Title" />
        <meta name="twitter:title" content="@seo.Title">
        <meta itemprop="name" content="@seo.Title" />
        <meta property="og:site_name" content="@seo.Title" />
        <meta name="keywords" content="@seo.Keywords" />
        <meta name="description" content="@seo.Description" />
        <meta property="og:description" content="@seo.Description" />
        <meta name="twitter:description" content="@seo.Description" />
        <meta itemprop="description" content="@seo.Description" />
    }
    else
    {
        <title>Международная риэлторская инвестиционная компания REHOUSE</title>
        <meta property="og:title" content="Международная риэлторская инвестиционная компания REHOUSE" />
        <meta name="twitter:title" content="Международная риэлторская инвестиционная компания REHOUSE">
        <meta itemprop="name" content="Международная риэлторская инвестиционная компания REHOUSE" />
        <meta property="og:site_name" content="Международная риэлторская инвестиционная компания REHOUSE" />
    <meta name="keywords" content="Международная риэлторская инвестиционная компания REHOUSE" />
        <meta name="description" content="Международная риэлторская инвестиционная компания REHOUSE" />
        <meta property="og:description" content="Международная риэлторская инвестиционная компания REHOUSE">
        <meta name="twitter:description" content="Международная риэлторская инвестиционная компания REHOUSE" />
        <meta itemprop="description" content="Международная риэлторская инвестиционная компания REHOUSE" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.Image))
    {
        <meta property="og:image" content="@ViewBag.Image" />
        <meta name="twitter:image:src" content="@ViewBag.Image" />
        <meta itemprop="image" content="@ViewBag.Image" />
    }
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/styleCss")

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/mobile.css">

    <style media='print' type='text/css'>
        .noprint {
            display: none;
        }

        .othernovostroy {
            display: none;
        }

        .footer {
            display: none;
        }

        .print {
            display: none;
        }

        .print1 {
            display: none;
        }

        body {
            background: #FFF;
            color: black;
        }

        .seotext3 h1 {
            color: black;
            text-decoration: none;
            font-size: 30px;
        }

        .seotext3 p {
            color: black;
            text-decoration: none;
            font-size: 24px;
            line-height: 24px;
        }

        .seotext3 h2 {
            color: black;
            text-decoration: none;
            font-size: 30px;
        }

        .h2novostroy h2 {
            color: black;
            text-decoration: none;
            font-size: 30px;
        }

        .table_of_prodapart table tr td {
            color: black;
            text-decoration: none;
            font-size: 26px;
            line-height: 26px;
        }

        .container {
            margin-left: -165px;
        }

        .seotext3 p.text {
            width: 1000px;
        }

        .seotext3 {
            margin-top: -45px;
        }

        .favorite {
            display: none;
        }

        .favorite1 {
            display: none;
        }

        .planirovka {
            display: none;
        }

        .table_of_prod table tr td {
            color: black;
        }
    </style>
    <!-- Alert при закрытии -->
    <!-- <script>
        $(window).on('beforeunload', function(){ return 'Вы уверены, что хотите покинуть страницу?сука'; });
    </script> -->
    <!-- TO TOP -->
    <script>

        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>
    <script>
        function showSeoTextDetails(id, btn) {
            $(btn).fadeOut();
            $('#text_' + id).fadeOut();
            $('#textHidden_' + id).fadeIn();
        }

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-100514743-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <span class="noprint">
        <div class="header">
            <div class="container" id="container">
                <span class="flex_header">
                    <div class="logo">
                        <a href="~/Home/Index" id=""><img src="~/Content/images/logo.png" width="350"></a>
                        <p class="textlogo">Международная риэлторская инвестиционная компания</p>
                    </div>
                    <div class="search">
                        <p><form class="form-search" method="get" action="/search/flats" target="_blank"><input type="text" name="query" placeholder="Введите слово или фразу" value="" /></form></p>
                        @if (Session != null && Session["user"] is SessionModel)
                        {
                            var session = Session["user"] as SessionModel;

                            <div class="your_name">
                                <div><p>Ваш логин:</p></div>
                                @if (!String.IsNullOrEmpty(session.User.Login))
                                {
                                    <div class="your_login"><p><a href="~/cabinet/profile" class="">@session.User.Login</a></p></div>

                                }
                                else
                                {
                                    <div class="your_login"><p><a href="~/cabinet/profile" class="">@session.User.Email</a></p></div>
                                }
                                <div class="logout"><p>@Html.ActionLink("Выйти", "logout", "authorize")</p></div>
                            </div>
                        }
                    </div>
                    <div class="contactinfo">
                        <div class="tel">
                            <div class="imgtel">
                                <img src="~/Content/images/tel.png">
                            </div>
                            <div class="number">
                                <p>+38093 057 7110</p>
                                <p>+38048 788 6707</p>
                            </div>
                        </div>
                        <div class="social">
                            <a href="https://www.facebook.com/rehouseodessastars/?ref=bookmarks" class="fb" target="_blank"></a>
                            <a href="https://www.youtube.com/channel/UCr_t3R1EhpY6oAWnwSSmC-A" class="yt" target="_blank"></a>
                            <a href="https://www.instagram.com/rehouseodessa/" class="gmail" target="_blank"></a>
                            @*<a href="https://vk.com/rehouseodessastars" class="vk" target="_blank"></a>*@
                        </div>
                    </div>
                    <div class="feedback">
                        <a href="~/cart/index" id="fav">Избранное</a>
                        <a href="~/email/index" id="blink">Обратный звонок</a>
                    </div>
                </span>
            </div>
        </div>

        <div id="nav">
            <div class="container" id="container">
                <div class="navigation">
                    <ol>
                        <li>
                            <a id="">Покупка</a>
                            <ol>
                                @*<li>@Html.ActionLink("Купить квартиру", "flat", "sale")</li>
                                    <li>@Html.ActionLink("Купить дом", "house", "sale")</li>
                                    <li>@Html.ActionLink("Купить участок", "homeStead", "sale")</li>
                                    <li>@Html.ActionLink("Купить коммерческую", "commerce", "sale")</li>*@
                                <li><a href="~/sale/flat">Купить квартиру</a></li>
                                <li><a href="~/sale/house">Купить дом</a></li>
                                <li><a href="~/sale/homestead">Купить участок</a></li>
                                <li><a href="~/sale/commerce">Купить коммерцию</a></li>
                            </ol>
                        </li>
                        <li>
                            <a href="#" id="">Аренда</a>
                            <ol>
                                @*<li>@Html.ActionLink("Снять квартиру", "flat", "rent")</li>*@
                                @*<li>@Html.ActionLink("Снять дом", "house", "rent")</li>*@
                                @*<li>@Html.ActionLink("Снять участок", "homeStead", "rent")</li>*@
                                <li><a href="~/rent/flat">Снять квартиру</a></li>
                                <li><a href="~/rent/house">Снять дом</a></li>
                                @*<li><a href="~/rent/homestead">Снять участок</a></li>*@
                                <li><a href="~/rent/commerce">Снять коммерцию</a></li>
                            </ol>
                        </li>
                        <li><a href="~/newbuilding/">Новострои</a></li>
                        <li><a href="~/manager/" id="">Менеджеры</a></li>
                        <li>
                            <a href="#" id="">О нас</a>
                            <ol>
                                <li><a href="~/home/about">О компании</a></li>
                                <li><a href="~/vacancy/">Вакансии агенства</a></li>
                            </ol>

                        </li>
                    </ol>
                </div>
                <div class="sell">
                    <a href="~/email/index" id="">Хочу продать!</a>
                </div>
            </div>
        </div>
    </span>
    <div class="header_mobile">
        <input type="checkbox" id="hmt" class="hidden-menu-ticker">
        <label class="btn-menu" for="hmt">
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
        </label>
        <ul class="hidden-menu">
            <li class="bgh"><a href="" class="bold">Покупка</a></li>
            <ol>
                <li><a href="~/sale/flat">Купить квартиру</a></li>
                <li><a href="~/sale/house">Купить дом</a></li>
                <li><a href="~/sale/homestead">Купить участок</a></li>
                <li><a href="~/sale/commerce">Купить коммерцию</a></li>
            </ol>
            <br>
            <li class="bgh"><a href="" class="bold">Аренда</a></li>
            <ol>
                <li><a href="~/rent/flat">Снять квартиру</a></li>
                <li><a href="~/rent/house">Снять дом</a></li>
                @*<li><a href="~/rent/homestead">Снять участок</a></li>*@
                <li><a href="~/rent/commerce">Снять коммерцию</a></li>
            </ol>
            <br>
            <li class="bgh"><a href="~/newbuilding/" class="bold">Новострои</a></li>
            <br>
            <li class="bgh"><a href="~/manager/" class="bold">Менеджеры</a></li>
            <br>
            <li class="bgh"><a href="" class="bold">О нас</a></li>
            <ol>
                <li><a href="~/home/about">О компании</a></li>
                <li><a href="~/vacancy/">Вакансии агенства</a></li>
            </ol>
        </ul>
        <div class="header">
            <div class="logo">
                <a href="~/home" id=""><img src="~/Content/images/logomobile.png"></a>
            </div>
            <div class="contactinfo">
                <div class="feedback">
                    <a href="~/email/index" id="blink1"></a>
                    <a href="~/cart/index" id="fav1"></a>
                </div>
                <div class="tel">
                    <div class="imgtel">
                        <img src="~/Content/images/tel.png">
                    </div>
                    <div class="number">
                        <p>+38093 057 7110</p>
                        <p>+38048 788 6707</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="search">
            <p><form class="form-search" method="get" action="/search" target="_blank"><input type="text" name="q" placeholder="Введите слово или фразу" value="" /></form></p>
        </div>
        @if (seo != null)
        {
            <h1 style="display:none;">@seo.Title</h1>
        }
    </div>
    <div class="container" id="container">

        @RenderBody()
        @if (ViewBag.Articles != null && ViewBag.NotShowNews == null)
        {
            <div class="news">
                <h2>Новости</h2>
                @foreach (Article article in ViewBag.Articles)
                {
                    <div class="firstnews">
                        <div class="img">
                            @if (article.Images != null && article.Images.Count > 0)
                            {
                                <img src="@Url.Content(article.Images[0].Url + article.Images[0].FileName)" title="@article.Images[0].Title" alt="@article.Images[0].Alt" width="440" height="263" />
                            }
                            else
                            {
                                <img src="~/Content/images/news1.jpg" width="440" height="263">
                            }
                        </div>
                        <div class="content1">
                            <h3>@article.Title</h3>
                            @if (@article.Description.Length > 400)
                            {
                                <p id="news_@article.Id">@Html.Raw(article.Description.Substring(0, 399)) ...</p>
                            }
                            else
                            {
                                <p>@Html.Raw(article.Description)</p>
                            }
                            <h4>@article.Date.ToShortDateString() в @article.Date.ToShortTimeString()</h4>
                            <a href="/news/detail/@article.Id" @*onclick="showDetails(@article.Id, this);"*@ id="more">Подробнее</a>
                            @*<p id="newsHidden_@article.Id" style="display:none">@article.Description</p>*@
                        </div>
                    </div>
                }
                <div class="morenews">
                    <a href="~/news/index" id="more">Все новости</a>
                </div>
            </div>
        }
        <span class="noprint">
            <div class="footer">
                <div id="toTop"></div>
                <div class="social">
                    <a href="https://www.facebook.com/rehouseodessastars/?ref=bookmarks" class="fb" target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCr_t3R1EhpY6oAWnwSSmC-A" class="yt" target="_blank"></a>
                    <a href="https://www.instagram.com/rehouseodessa/" class="gmail" target="_blank"></a>
                    @*<a href="https://vk.com/rehouseodessastars" class="vk" target="_blank"></a>*@
                </div>
                <div class="bottomnav">
                    <a href="~/news/index" class="">Новости</a>
                    <a href="~/home/contacts" class="">Контакты</a>
                    <a href="~/map/index" class="">Карта сайта</a>
                    <a href="~/feedback/index" class="">Отзывы</a>
                    @if (Session == null || Session["user"] == null)
                    {
                        <a class="f" data-dropdown="login-modal" data-options="align:top ignore_repositioning" aria-controls="login-modal" aria-expanded="false" href="/login">Войти</a>
                        <div class="forms-wrapper">
                            <div class="form-drop f-dropdown drop-top" tabindex="-1" data-dropdown-content aria-hidden="true" id="login-modal">
                                <ol class="login">
                                    <li>
                                        <div class="login">
                                            <div class="bodyform">
                                                @Html.Partial("UnregisteredUsers/_loginPartial", new LoginModel())
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("Выйти", "logout", "authorize")
                    }
                </div>
            </div>
        </span>
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/addtocart")
    @Scripts.Render("~/bundles/lazyLoad")
    @Scripts.Render("~/bundles/unob")
    @Scripts.Render("~/Scripts/foundation")
    @Scripts.Render("~/Scripts/vendorJs")
    @Scripts.Render("~/Scripts/modulesJs")
    <script type="text/javascript">
        $(document).foundation();
        $(document).foundation('dropdown', 'reflow');

        Share = {
            vkontakte: function (purl, ptitle, pimg, text) {
                url = 'http://vkontakte.ru/share.php?';
                url += 'url=' + encodeURIComponent(purl);
                url += '&title=' + encodeURIComponent(ptitle);
                url += '&description=' + encodeURIComponent(text);
                url += '&image=' + encodeURIComponent(pimg);
                url += '&noparse=true';
                Share.popup(url);
            },
            facebook: function (purl, ptitle, pimg, text) {
                url = 'http://www.facebook.com/sharer.php?s=100';
                url += '&p[title]=' + encodeURIComponent(ptitle);
                url += '&p[summary]=' + encodeURIComponent(text);
                url += '&p[url]=' + encodeURIComponent(purl);
                url += '&p[images][0]=' + encodeURIComponent(pimg);
                Share.popup(url);
            },
            twitter: function (purl, ptitle) {
                url = 'http://twitter.com/share?';
                url += 'text=' + encodeURIComponent(ptitle);
                url += '&url=' + encodeURIComponent(purl);
                url += '&counturl=' + encodeURIComponent(purl);
                Share.popup(url);
            },

            popup: function (url) {
                window.open(url, '', 'toolbar=0,status=0,width=626,height=436');
            }
        }
    </script>
</body>
</html>
