@using System.ServiceModel
@using ITFamily.FrontEnd.Helpers
@using ITFamily.FrontEnd.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITFamily.com.ua</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/mainCss")
</head>
<body>
    <div id="fb-root"></div>
<script type="text/javascript">
    function facebook() {
        FB.ui({
            method: 'share',
            href: '@Html.HtmlText(HttpContext.Current.Request.Url.ToString())',
        }, function(response) {});
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.4&appId=648864971916843";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">
    @*@if ((HttpContext.Current.Request.Path.ToLower() == "authorize/registercorporative") || (HttpContext.Current.Request.Path.ToLower() == "/authorize/registercorporative") || (HttpContext.Current.Request.Path.ToLower() == "/authorize/registercorporative/") )
    {
        @Html.Partial("_header")
    }*@
    <h5 class="testing-mode">
        @Html.HtmlText("<span> Сайт работает в тестовом режиме, ведутся разработки, скоро открытие!</span> <b> С ув. команда Itfamily.</b>")
    </h5>
    

    @Html.Partial("PartialCorporative/_headerCorporative")

    <div class="content" style="min-height: 630px;">

        <div class="clearfix" style="margin-top: 30px"></div>



        @RenderBody()





    </div>
    <div class="clearfix"></div>
    @*@if ((HttpContext.Current.Request.Path.ToLower() == "authorize/registercorporative") || (HttpContext.Current.Request.Path.ToLower() == "/authorize/registercorporative") || (HttpContext.Current.Request.Path.ToLower() == "/authorize/registercorporative/"))
    {
        <div class="clearfix" style="margin-top: 10px"></div>
        <div class="nice-people-corp"></div>
        @Html.Partial("PartialCorporative/_index-info-corp")
    }*@


    <div class="clearfix"></div>
    <footer>



        @Html.Partial("_footerTemplate")


    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/unob")

@Scripts.Render("~/Scripts/vendorJs")
@Scripts.Render("~/Scripts/foundation")
@Scripts.Render("~/Scripts/indexJs")

@Scripts.Render("~/Scripts/modulesJs")

@RenderSection("scripts", required: false)
<script type="text/javascript">
    $(document).foundation();

    $(document).foundation('dropdown', 'reflow');

</script>


</body>
</html>