@using ReHouse.Utils.Helpers
@using System.Globalization;
@model ReHouse.FrontEnd.Models.LoadNewBuildingModel
@section scripts {
    <!-- Min Slider -->
    @Scripts.Render("~/bundles/slides");
    <script>
        $(function () {
            $('#products').slides({
                preload: true,
                preloadImage: '',
                effect: 'slide, fade',
                crossfade: true,
                slideSpeed: 200,
                fadeSpeed: 500,
                generateNextPrev: true,
                generatePagination: false
            });
        });
    </script>
    <!--  FancyBox -->
    @Scripts.Render("~/bundles/fancybox");
    <script>
        $(document).ready(function () {
            $("a.plan").fancybox();
            // $("a.plan").fancybox({"frameWidth":1560,"frameHeight":1340});
        });
    </script>
}
<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("ЖК Новострои", "index", "newbuilding")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink(Model.NewBuilding.Name, "detail", "newbuilding", new { id = Model.NewBuilding.Id })
    </div>
</div>
<div class="h2novostroy">
    <h2>@Model.NewBuilding.Name</h2>
    <div class="favorite">
        <a onclick="addtocart(@Model.NewBuilding.Id, '@AdvertsType.NewBuilding', true, this);" id="favorite">Добавить в избранное</a>
    </div>
    <div class="favorite1">
        <a href="~/email/index" id="favorite">Подать заявку</a>
    </div>
</div>
<div class="share_icons">
    <div class="share_fb">
        <a onclick="Share.facebook('http://rehouse-realty.com.ua/newbuilding/detail/@(Model.NewBuilding.Id)', '@Model.NewBuilding.Name', 'http://rehouse-realty.com.ua@(Url.Content("~/Content/images/news1.jpg"))', '@Model.NewBuilding.Adress')"></a>
    </div>
    <div class="share_vk">
        <a onclick="Share.vkontakte('http://rehouse-realty.com.ua/newbuilding/detail/@(Model.NewBuilding.Id)', '@Model.NewBuilding.Name', 'http://rehouse-realty.com.ua@(Url.Content("~/Content/images/news1.jpg"))', '@Model.NewBuilding.Adress')"></a>
    </div>
    <div class="share_tw">
        <a onclick="Share.twitter('http://rehouse-realty.com.ua/newbuilding/detail/@(Model.NewBuilding.Id)', '@Model.NewBuilding.Name')"></a>
    </div>
</div>
@if (Model.NewBuilding.Images != null && Model.NewBuilding.Images.Count > 0)
{
    int i = 0;
    int j = 0;

    <div id="products_example">
        <div id="products">
            <div class="slides_container">
                @foreach (var item in Model.NewBuilding.Images)
                {
                    if (i > 2)
                    {
                        break;
                    }
                    i++;
                    <a><img src="@Url.Content(item.Url + item.FileName)" width="767" height="600" alt=""></a>
                }

            </div>
            <ul class="pagination">

                @foreach (var item in Model.NewBuilding.Images)
                {
                    if (j > 2)
                    {
                        break;
                    }
                    j++;
                    <li><a href="#"><img src="@Url.Content(item.Url + item.FileName)" alt=""></a></li>
                }

            </ul>
        </div>
    </div>
}
<div class="table_of_prod">
    <table>
        <tr>
            <td>Цена</td>
            <td>от @Model.NewBuilding.Price грн/м²</td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>@Model.NewBuilding.Adress</td>
        </tr>
        <tr>
            <td>Количество домов</td>
            <td>@Model.NewBuilding.HouseQuantity</td>
        </tr>
        <tr>
            <td>Количество секций</td>
            <td>@Model.NewBuilding.SectionQuantity</td>
        </tr>
        <tr>
            <td>Этажность</td>
            <td>@Model.NewBuilding.FloorQuantity</td>
        </tr>
        <tr>
            <td>Количество квартир</td>
            <td>@Model.NewBuilding.FloatQuantity</td>
        </tr>
        <tr>
            <td>Планировка квартир</td>
            <td>@Model.NewBuilding.Construct</td>
        </tr>
        <tr>
            <td>Материал стен</td>
            <td>@Model.NewBuilding.WallMaterial</td>
        </tr>
        <tr>
            <td>Высота потолков</td>
            <td>@Model.NewBuilding.WallHeight метра</td>
        </tr>
        <tr>
            <td>Отопление</td>
            <td>@Model.NewBuilding.Heating</td>
        </tr>
        <tr>
            <td>Парковка</td>
            <td>@Model.NewBuilding.Parking</td>
        </tr>
        <tr>
            <td>Сдача в эксплуатацию</td>
            <td>@Model.NewBuilding.ExpluatationDate.Name</td>
        </tr>
        <tr>
            <td>Застройщик</td>
            <td>
                @{string s = ""; }
                @for (int i = 0; i < Model.NewBuilding.Builders.Count; i++)
                {
                    if (i == 0)
                    {
                        s += Model.NewBuilding.Builders[i].Name;
                    }
                    else
                    {
                        s += ", " + Model.NewBuilding.Builders[i].Name;
                    }
                }
                @s
            </td>
        </tr>
        <tr>
            <td>Отдел продаж</td>
            <td>
                @{s = ""; }
                @for (int i = 0; i < Model.NewBuilding.Phones.Count; i++)
                {
                    if (i == 0)
                    {
                        s += Model.NewBuilding.Phones[i].TelePhone;
                    }
                    else
                    {
                        s += ", " + Model.NewBuilding.Phones[i].TelePhone;
                    }
                }
                @s
            </td>
        </tr>
    </table>
</div>
@if (Model.NewBuilding.PlanImages != null && Model.NewBuilding.PlanImages.Count > 0)
{
    <div class="planirovka">
        @foreach (var item in Model.NewBuilding.PlanImages)
        {
            <a class="plan" rel="group" title="Планировка" href="@Url.Content(item.Url + item.FileName)"><img src="@Url.Content(item.Url + item.FileName)" border="0" /></a>
        }
    </div>
}
@if (!String.IsNullOrEmpty(Model.NewBuilding.YouTubeUrl))
{
    <div class="video-youtube">
        <iframe width="711" height="533" src="https://www.youtube.com/embed/@Model.NewBuilding.YouTubeUrl" frameborder="0" allowfullscreen></iframe>
    </div>
}
<div id="mapnovostroy_prod">
    <iframe src="https://maps.google.com/maps?q=@Model.NewBuilding.Latitude.ToString(CultureInfo.InvariantCulture),@Model.NewBuilding.Longitude.ToString(CultureInfo.InvariantCulture)&hl=es;z=14&amp;output=embed" width="1054px" height="495px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<div class="h2novostroy"><h2>Другие Новостройки</h2></div>
<div class="othernovostroy">
    <ul class="prods" id="data-container">
        @if (Model.OtherNewBuildings.Count > 0)
        {
            foreach (var item in Model.OtherNewBuildings)
            {
                <div class="data-item">
                    <li>
                        @if (item.IsExclusive)
                        {
                            <div class="redimg"><img src="~/Content/images/eksklusiv.png"></div>
                        }
                        else if (item.IsHot)
                        {
                            <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
                        }
                        else
                        {
                            <div class="redimg"><img src="~/Content/images/newred.png"></div>
                        }
                        @if (item.Images != null && item.Images.Count > 0)
                        {
                            <a class="fix" href="~/newbuilding/detail/@item.Id"><img src="@Url.Content(item.Images[0].Url + item.Images[0].FileName)" width="250" height="212" alt="" /></a>
                        }
                        else
                        {
                            <a href="~/newbuilding/detail/@item.Id" class="fix"><img src="~/Content/images/prod1.jpg" width="250" height="212" alt="" /></a>
                        }
                        <div class="min-content">
                            <div class="like" onclick="addtocart(@item.Id, '@AdvertsType.NewBuilding', true, this);"></div>
                            <h3>@item.Name</h3>
                            <h4>@item.Adress <br />Сдача: @item.ExpluatationDate.Name</h4>
                            <p class="cost">от @item.Price грн/м²</p>
                            <a href="~/newbuilding/detail/@item.Id" id="follow">❯</a>
                        </div>
                    </li>
                </div>
            }
        }
    </ul>
</div>
