@using ReHouse.FrontEnd.Models
@using ReHouse.Utils
@model LoadNewBuildingsModel
@if (Session != null && Session["user"] is SessionModel)
{
    var session = Session["user"] as SessionModel;




<div class="selection-admin">
    <div class="region">
        <select id="district">
            <option selected value="0">Выбрать район</option>
            @foreach (var district in Model.Districts.Where(x => x.ParrentId == null).OrderByDescending(x => x.Id))
            {
                <option disabled value="@district.Id">--@district.RussianName--</option>
                foreach (var dis in Model.Districts.Where(x => x.ParrentId == district.Id))
                {
                    <option value="@dis.Id">@dis.RussianName</option>
                }
            }
        </select>
    </div>

    <div class="_cost">
        <select id="price">
            <option selected value="0">Цена за м²</option>
            @for (int i = 0; i < Model.Prices.Count; i++)
            {
                if (i == 0)
                {
                    <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max грн</option>
                }
                else if (i == Model.Prices.Count - 1)
                {
                    <option value="@Model.Prices[i].Id">свыше @Model.Prices[i].Min грн</option>
                }
                else
                {
                    <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max грн</option>
                }
            }
        </select>
    </div>

    <div class="ck">
        <select id="builder">
            <option selected value="0">Выбрать по CK</option>
            @foreach (var builder in Model.Builders)
            {
                <option value="@builder.Id">@builder.Name</option>
            }
        </select>
    </div>

    <div class="timeofready">
        <select id="date">
            <option selected value="0">Cрок сдачи</option>
            @foreach (var date in Model.ExpluatationDates)
            {
                <option value="@date.Id">@date.Name</option>
            }
        </select>
    </div>

    @if (session != null && (session.Role.RussianName == ConstV.RoleAdministrator || session.Role.RussianName == ConstV.RoleManager))
    {
        <div class="ck">
            <select id="managers">
                <option selected value="0">Менеджер</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">@user.FirstName</option>
                }
            </select>
        </div>
    }
    @*<div class="checkbox_">
            <select id="isonlyuser">
                <option value="false">Все объявления</option>
                <option value="true">Мои объявления</option>
            </select>
        </div>*@
    <div class="search-button-admin" id="search">
        <a>Поиск</a>
    </div>
</div>
}