@using ReHouse.FrontEnd.Models
@model LoadNewBuildingsModel


<div class="selection-admin">
    <div class="region">
        <select id="district">
            <option selected value="0">Выбрать район</option>
            @foreach (var district in Model.Districts)
            {
                <option value="@district.Id">@district.RussianName</option>
            }
        </select>
    </div>

    <div class="_cost">
        <select id="price">
            <option selected value="0">Цена за м²</option>
            @for (int i = 0; i < Model.Prices.Count; i++)
            {
                if (i == 0)
                {
                    <option value="@Model.Prices[i].Id">до @Model.Prices[i].Max грн</option>
                }
                else if (i == Model.Prices.Count - 1)
                {
                    <option value="@Model.Prices[i].Id">выше @Model.Prices[i].Min грн</option>
                }
                else
                {
                    <option value="@Model.Prices[i].Id">@Model.Prices[i].Min-@Model.Prices[i].Max грн</option>
                }
            }
        </select>
    </div>

    <div class="ck">
        <select id="builder">
            <option selected value="0">Выбрать по CK</option>
            @foreach (var builder in Model.Builders)
            {
                <option value="@builder.Id">@builder.Name</option>
            }
        </select>
    </div>

    <div class="timeofready">
        <select id="date">
            <option selected value="0">Cрок сдачи</option>
            @foreach (var date in Model.ExpluatationDates)
            {
                <option value="@date.Id">@date.Name</option>
            }
        </select>
    </div>

    <div class="checkbox_">
        <select id="isonlyuser">
            <option value="false">Все объявления</option>
            <option value="true">Мои объявления</option>
        </select>
    </div>

    <div class="search-button-admin" id="search">
        <a>Поиск</a>
    </div>
</div>