@using ReHouse.Utils.DataBase.Feedback
@model UserFeedback
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navigation", "feedbacks")

<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>
            
        <div class="photo_of_manager">
            <form enctype="multipart/form-data" action="" method="POST">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.ValidationSummary()
                <div class="contact_info">
                    <table>
                        <tr>
                            <td>Одобрено:</td>
                            <td>@Html.CheckBoxFor(m => m.IsModerated)</td>
                        </tr>                        
                        <tr>
                            <td>Имя:</td>
                            <td>@Html.TextBoxFor(m => m.Username)</td>
                        </tr>
                        
                        <tr>
                            <td>Содержание:</td>
                            <td>@Html.TextAreaFor(m => m.Description, new { @rows = "7" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button>Сохранить</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
